<h2 class="font-bold mb-2">Tasks</h2>
@if (!hasTasks) {
  <div class="h-[calc(100%-32px)] grid place-content-center">
    <p>You don't have tasks yet</p>
  </div>
} @else {
  <div class="h-[calc(100%-32px)] overflow-y-auto rounded shadow shadow-shark-800 dark:shadow-md dark:shadow-black">
    <table class="h-full border-spacing-0 w-full text-sm text-left">
      <thead class="text-xs uppercase dark:text-gray-200">
        <tr class="border-b border-b-gray-500 dark:border-b-shark-900">
          <th scope="col" class="sticky bg-white dark:bg-shark-800 top-0 z-[9] px-6 py-3 text-center">Title</th>
          <th scope="col" class="sticky bg-white dark:bg-shark-800 top-0 z-[9] px-6 py-3 text-center">Description</th>
          <th scope="col" class="sticky bg-white dark:bg-shark-800 top-0 z-[9] px-6 py-3 text-center">Priority</th>
          <th scope="col" class="sticky bg-white dark:bg-shark-800 top-0 z-[9] px-6 py-3 text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        @for (task of tasks; track task.id; let last = $last) {
          @if (last) {
            <tr class="bg-gray-200 dark:bg-shark-950">
              <td class="px-6 py-4">{{ task.title }}</td>
              <td class="px-6 py-4">{{ task.description }}</td>
              <td class="px-6 py-4 capitalize">{{ task.priority }}</td>
              <td class="px-6 py-4 capitalize">{{ task.status }}</td>
            </tr>
          } @else {
            <tr class="bg-gray-200 border-b border-b-gray-500 dark:border-b-shark-900 dark:bg-shark-950">
              <td class="px-6 py-4">{{ task.title }}</td>
              <td class="px-6 py-4">{{ task.description }}</td>
              <td class="px-6 py-4 capitalize">{{ task.priority }}</td>
              <td class="px-6 py-4 capitalize">{{ task.status }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
}