<h2 class="font-bold mb-2">Tasks</h2>
@if (!hasTasks) {
  <div class="h-full grid place-content-center">
    <p>You don't have tasks yet</p>
  </div>
} @else {
  <table
    class="h-[calc(100%-32px)] w-full bg-white dark:bg-shark-800 rounded shadow shadow-shark-800 dark:shadow-md dark:shadow-black"
    cdk-table [dataSource]="dataSource">
    <tr cdk-header-row *cdkHeaderRowDef="cols"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: cols"></tr>

    <ng-container cdkColumnDef="title">
      <th class="h-14 px-6 pt-2 border-b border-b-gray-400" cdk-header-cell *cdkHeaderCellDef>Title</th>
      <td class="h-14 px-6 text-sm" cdk-cell *cdkCellDef="let row">{{ row.title }}</td>
    </ng-container>

    <ng-container cdkColumnDef="description">
      <th class="h-14 px-6 pt-2 border-b border-b-gray-400" cdk-header-cell *cdkHeaderCellDef>Description</th>
      <td class="h-14 px-6 text-sm" cdk-cell *cdkCellDef="let row">{{ row.description }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="priority">
      <th class="h-14 px-6 pt-2 border-b border-b-gray-400" cdk-header-cell *cdkHeaderCellDef>Priority</th>
      <td class="h-14 px-6 text-sm capitalize" cdk-cell *cdkCellDef="let row">{{ row.priority }}</td>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <th class="h-14 px-6 pt-2 border-b border-b-gray-400" cdk-header-cell *cdkHeaderCellDef>Status</th>
      <td class="h-14 px-6 text-sm capitalize" cdk-cell *cdkCellDef="let row">{{ row.status }}</td>
    </ng-container>

    <ng-container cdkColumnDef="createdAt">
      <th class="h-14 px-6 pt-2 border-b border-b-gray-400" cdk-header-cell *cdkHeaderCellDef>Created at</th>
      <td class="h-14 px-6 text-sm" cdk-cell *cdkCellDef="let row">{{ row.created_at | date: "YYYY-MM-dd" }}
      </td>
    </ng-container>
  </table>
}