<section class="p-5 h-[calc(100vh-82px)] sm:h-full sm:w-[calc(100vw-56px)]">
  <div
    class="px-2 pb-2 mb-2 flex items-center justify-between border-b border-b-pampas-300">
    <h1 class="font-bold text-2xl">Dashboard</h1>
    <div class="flex items-center gap-5">
      <div class="w-px bg-pampas-300">&nbsp;</div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
          height="24" color="currentColor" fill="none">
          <path
            d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z"
            stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
          <path d="M9 9L13.0001 12.9996M16 8L11 13" stroke="currentColor"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>{{ clock() | date: "hh:mm a" }}</span>
      </div>
    </div>
  </div>
  <div class="p-2 h-[calc(100%-49px)]">
    <div class="relative min-[883px]:static h-full min-[883px]:flex min-[883px]:gap-3">
      <app-tasks-table></app-tasks-table>
      <div class="absolute top-0 -right-0 z-10 min-[883px]:static min-w-[260px] w-4/12 py-3 pl-3 pr-2 h-full flex flex-col gap-3 rounded-md shadow shadow-shark-800 dark:shadow-md dark:shadow-black min-[883px]:shadow-none min-[883px]:dark:shadow-none bg-gray-200 dark:bg-shark-950 min-[883px]:bg-transparent min-[883px]:dark:bg-transparent" [@openClose]="showDashboardInfo() ? 'open' : 'closed'">
        <div class="absolute -left-6 h-[calc(100%-24px)] flex flex-col justify-center rounded-l-md bg-gray-300 dark:bg-shark-800 cursor-pointer dark:hover:bg-shark-700 hover:bg-gray-400 min-[883px]:hidden transition-colors ease-linear" (click)="toggleDashboardInfo()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none" [@rotateArrow]="showDashboardInfo() ? 'hide' : 'show'">
            <path d="M15 6C15 6 9.00001 10.4189 9 12C8.99999 13.5812 15 18 15 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="h-1/2">
          <h2 class="font-bold mb-2">Last note</h2>
          @if (note) {
            <div
              class="p-5 h-[calc(100%-32px)] bg-yellow-300 text-shark-950 rounded shadow shadow-shark-800 dark:shadow-md dark:shadow-black overflow-hidden">
              <div class="mt-1 h-[calc(100%-28px)] overflow-y-auto">
                <p>{{ note.content }}</p>
              </div>
            </div>
          } @else {
            <div class="h-[calc(100%-32px)] grid place-content-center">
              <p>You don't have notes yet</p>
            </div>
          }
        </div>
        <div class="h-1/2">
          <h2 class="font-bold mb-2">Last event</h2>
          @if (calendarEvent) {
            <div
              class="h-[calc(100%-32px)] p-5 mb-2 flex flex-col justify-between shadow shadow-shark-800 dark:shadow-md dark:shadow-black bg-white dark:bg-shark-600 dark:text-gray-300 rounded">
              <p class="font-bold">{{ calendarEvent.title }}</p>
              <p>{{ calendarEvent.description }}</p>
              <p class="px-1 inline-block text-sm rounded-sm">
                Start datetime: {{ calendarEvent.start_datetime| date: 'dd' }} {{ calendarEvent.start_datetime | date: 'MMMM' }}
              </p>
            </div>
          } @else {
            <div class="h-[calc(100%-32px)] grid place-content-center">
              <p>You don't have events yet</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>